@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: hsla(196, 100%, 69%, 0.884);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: hsl(0, 0%, 96%);
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  margin-bottom: 10px;
}
.balance {
  text-align: center;
  background: hsla(196, 78%, 43%, 0.884);
  color: white;
  border-radius: 8px;
  padding-top: 5px;
}
.balance h1 {
  margin: 0;
  font-size: 2.5rem;
}
.income-expense {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.income,
.expense {
  flex: 1;
  text-align: center;
}
.money {
  font-size: 1.5rem;
  margin: 5px 0;
}
.Plus,
.plus {
  color: hsl(120, 92%, 42%);
}
.Minus,
.minus {
  color: rgb(183, 18, 18);
}
.list {
  list-style: none;
  padding: 0;
  max-height: 120px;
  overflow-y: auto;
}
.list li {
  background-color: hsl(0, 0%, 96%);
  margin: 10px 0;
  padding: 10px;
  border-right: 5px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list .plus span,
.list .minus span {
  padding-right: 5px;
}
.list .plus {
  border-color: hsl(120, 92%, 42%);
}
.list .minus {
  border-color: rgb(183, 18, 18);
}
.formControl {
  margin-bottom: 10px;
}
.formControl label {
  display: block;
  margin-bottom: 5px;
}
.formControl input {
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid rgb(152, 152, 152);
}
.btn {
  width: 100%;
  padding: 10px;
  background-color: hsla(196, 78%, 43%, 0.884);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
}
.btn:hover {
  background-color: hsla(196, 75%, 38%, 0.884);
}
.delete {
  height: 25px;
  width: 25px;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(240, 237, 237);
  border-radius: 4px;
  border: none;
}
.delete:hover {
  background-color: rgb(207, 205, 205);
}
