/* 5 */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}
/* 3 */
#calculator {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 20px;
  max-width: 500px;
  overflow: hidden;
}
/* 4 */
#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}
/* 2 */
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
/* 1 */
button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
/* 6 */
button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 30%);
}
/* 7 */
.operator-btn {
  background-color: hsl(39, 80%, 50%);
}
.operator-btn:hover {
  background-color: hsl(39, 80%, 60%);
}
.operator-btn:active {
  background-color: hsl(39, 80%, 40%);
}
